<div>
  <h2><%= @question.title %></h2>
  <h3><%= @question.question %></h3>
  <%= @question.user.username %>

  <ul>
    <%if @question.comments %>
      <% @question.comments.each do |comment| %>
        <li><%= comment.comment%> -  <%= comment.user.username%></li>
    <% end %>
  <% end %>

    <%if @answers %>
      <% @answers.each do |answer| %>
        <h3><%= answer.answer %></h3>
        <ul>
        <% if answer.comments %>
          <% answer.comments.each do |comment| %>
          <li><%= comment.comment%> -  <%= comment.user.username%></li>
          <% end %>
        </ul>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
