<!-- Question Page -->


<!-- Question  -->
<div>
  <h3><%= @question.title %></h3>
  <div class="button-wrapper">
    <h5><span class="score"><%= @question.score %></span>  <%= @question.question %> - <em><%= @question.user.username %></em></h5>
      <form class="vote_button" action="/questions/<%= @question.id %>/votes" method="post">
        <button class="up" type="submit" name="vote" value="upvote">upvote</button>
      </form>
      <form class="vote_button" action="/questions/<%= @question.id %>/votes" method="post">
        <button class="down "type="submit" name="vote" value="downvote">downvote</button>
      </form>
    </div>
<!-- Question comments -->
    <ul>
    <%if @question.comments %>
      <% @question.comments.each do |comment| %>
        <div class="button-wrapper">
        <li><span class="score"><%= comment.score %> </span> <%= comment.comment%> -  <em><%= comment.user.username%></em></li>
          <form class="vote_button" action="/comments/<%= comment.id %>/votes" method="post">
            <button class="up" type="submit" name="vote" value="upvote">upvote</button>
          </form>
          <form class="vote_button" action="/comments/<%= comment.id %>/votes" method="post">
            <button class="down "type="submit" name="vote" value="downvote">downvote</button>
          </form>
        </div>
        <% end %>
    <% end %>
    </ul>
<!-- New Question Comment -->
<p class="show"> Add comment</p>
    <form class="comment-form" action="/questions/<%= @question.id %>/comments" method="post">
      <%= erb :'partials/_comment', layout: false%>
    </form>


<!-- Answers -->
  <h4>Answers</h4>
    <%if @answers %>
      <% @answers.each do |answer| %>
      <div class="button-wrapper">
        <h5> <span class="score"><%= answer.score %> </span> <%= answer.answer %> - <em><%=  answer.user.username %></em></h5>
          <form class="vote_button" action="/answers/<%= answer.id %>/votes" method="post" >
            <button class="up" type="submit" name="vote" value="upvote">upvote</button>
          </form>
          <form class="vote_button" action="/answers/<%= answer.id %>/votes" method="post" >
            <button class="down "type="submit" name="vote" value="downvote">downvote</button>
          </form>
        </div>
<!-- Answer Commments -->
        <ul>
        <% if answer.comments %>
          <% answer.comments.each do |comment| %>
          <div class="button-wrapper">
            <li><span class="score"><%= comment.score%> </span> <%= comment.comment%> -  <em> <%= comment.user.username%></em></li>
            <form class="vote_button" action="/comments/<%= comment.id %>/votes" method="post">
              <button class="up" type="submit" name="vote" value="upvote">upvote</button>
            </form>
            <form class="vote_button" action="/comments/<%= comment.id %>/votes" method="post">
              <button class="down "type="submit" name="vote" value="downvote">downvote</button>
            </form>
          </div>
          <% end %>
        <% end %>
        </ul>
<!-- New Answer Comments -->
<p class="show"> Add comment </p>
        <form class="comment-form" action="/answers/<%= answer.id %>/comments" method="post">
          <%= erb :'partials/_comment', layout: false%>
        </form>
      <% end %>
    <% end %>
<!-- New Answer -->
    <form class="answer-form" action="/questions/<%= @question.id %>/answers" method="post">
    <h5>Your answer</h5>
    <br>
    <%= erb :'partials/_errors', layout: false%>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" name="answer"></textarea>
            <label for="textarea1">Textarea</label>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" name="" value="Post answer">
        </div>
    </form>
</div>
