<div class="top-mark-button">

<%if @question.top_answer? %>
  <% if current_user == @question.user %>
    <form class="top-answer" action="/questions/<%= @question.id %>/answers/<%= answer.id %>" method="post" >
      <input type="hidden" name="_method" value="put"/>
      <button class="top" type="submit" name="top" value="upvote">Mark as top answer</button>
    </form>
  <% end %>
<% end %>
  <% if answer.top_answer %>
    -top answer
  <% end %>
</div>
<div class="button-wrapper">
  <form class="vote-button" action="/answers/<%= answer.id %>/votes" method="post" >
    <button class="up btn-floating btn-small waves-effect waves-light" type="submit" name="vote" value="upvote">+</button>
  </form>
  <form class="vote-button" action="/answers/<%= answer.id %>/votes" method="post" >
    <button class="down btn-floating btn-small waves-effect waves-light"type="submit" name="vote" value="downvote">-</button>
  </form>
  <h5 class="inlining"> <span class="score a-score"><%= answer.score %> </span> <%= answer.answer %> <span class="smaller"> - <%=  answer.user.username %></span></h5>
</div>
<br>
<!-- Answer Commments -->
<div class="answer-comment-wrapper1">
<div class="answer-comments-list">
  <% if answer.comments %>
    <% answer.comments.each do |comment| %>
      <%= erb :'/partials/_comment_questions', locals: { comment: comment }, layout: false %>
    <% end %>
  <% end %>
</div>
<!-- New Answer Comments -->
<div class="comment-wrapper">
  <button  class="new-comment-button btn-flat">add comment</button>
  <form class="comment-form answer-comment-form"   action="/answers/<%= answer.id %>/comments" method="post">
    <%= erb :'partials/_comment', layout: false%>
  </form>
</div>
<div class="divider"></div>
</div>
