<h1>Contact</h1>
<div class="contact">
  <ul>
    <li>id: <%= @contact.id %></li>
    <li>first_name:<%= @contact.first_name %></li>
    <li>last_name: <%= @contact.last_name %></li>
    <li>full_name: <%= @contact.full_name %></li>
    <li>email: <%= @contact.email %></li>
  </ul>
</div>
